In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats as stat

In [3]:
barley_pd = pd.read_csv('CerealData/barley-production.csv')
maize_pd = pd.read_csv('CerealData/maize-production.csv')
rice_pd = pd.read_csv('CerealData/rice-production.csv')
rye_pd = pd.read_csv('CerealData/rye-production.csv')
wheat_pd = pd.read_csv('CerealData/wheat-production.csv')

In [4]:
barley_pd.head()

        Entity Code  Year  Barley | 00000044 || Production | 005510 || tonnes
0  Afghanistan  AFG  1961                                             378000
1  Afghanistan  AFG  1962                                             378000
2  Afghanistan  AFG  1963                                             378000
3  Afghanistan  AFG  1964                                             380000
4  Afghanistan  AFG  1965                                             380000

In [5]:
maize_pd.head()

        Entity Code  Year  Maize | 00000056 || Production | 005510 || tonnes
0  Afghanistan  AFG  1961                                             700000
1  Afghanistan  AFG  1962                                             700000
2  Afghanistan  AFG  1963                                             713000
3  Afghanistan  AFG  1964                                             720000
4  Afghanistan  AFG  1965                                             720000

In [6]:
barley_pd = barley_pd.drop('Code', axis=1)
maize_pd = maize_pd.drop('Code', axis=1)
rice_pd = rice_pd.drop('Code', axis=1)
rye_pd = rye_pd.drop('Code', axis=1)
wheat_pd = wheat_pd.drop('Code', axis=1)

In [7]:
barley_pd.head()

        Entity  Year  Barley | 00000044 || Production | 005510 || tonnes
0  Afghanistan  1961                                             378000
1  Afghanistan  1962                                             378000
2  Afghanistan  1963                                             378000
3  Afghanistan  1964                                             380000
4  Afghanistan  1965                                             380000

In [8]:
barley_pd.columns = ['Country', 'Year', 'BarleyTonnes']
maize_pd.columns = ['Country', 'Year', 'MaizeTonnes']
rice_pd.columns = ['Country', 'Year', 'RiceTonnes']
rye_pd.columns = ['Country', 'Year', 'RyeTonnes']
wheat_pd.columns = ['Country', 'Year', 'WheatTonnes']

In [9]:
barley_pd.head()

       Country  Year  BarleyTonnes
0  Afghanistan  1961        378000
1  Afghanistan  1962        378000
2  Afghanistan  1963        378000
3  Afghanistan  1964        380000
4  Afghanistan  1965        380000

In [10]:
barley_pd['Barley_PChange'] = barley_pd['BarleyTonnes'].pct_change()
maize_pd['Maize_PChange'] = maize_pd['MaizeTonnes'].pct_change()
rice_pd['Rice_PChange'] = rice_pd['RiceTonnes'].pct_change()
rye_pd['Rye_PChange'] = rye_pd['RyeTonnes'].pct_change()
wheat_pd['Wheat_PChange'] = wheat_pd['WheatTonnes'].pct_change()

In [11]:
maize_pd.head()

       Country  Year  MaizeTonnes  Maize_PChange
0  Afghanistan  1961       700000            NaN
1  Afghanistan  1962       700000       0.000000
2  Afghanistan  1963       713000       0.018571
3  Afghanistan  1964       720000       0.009818
4  Afghanistan  1965       720000       0.000000

In [12]:
barley_pd = barley_pd.dropna()
maize_pd = maize_pd.dropna()
rice_pd = rice_pd.dropna()
rye_pd = rye_pd.dropna()
wheat_pd = wheat_pd.dropna()

In [13]:
barley_pd.head()

       Country  Year  BarleyTonnes  Barley_PChange
1  Afghanistan  1962        378000        0.000000
2  Afghanistan  1963        378000        0.000000
3  Afghanistan  1964        380000        0.005291
4  Afghanistan  1965        380000        0.000000
5  Afghanistan  1966        375000       -0.013158

In [14]:
c1 = pd.merge(barley_pd, maize_pd, on=['Year','Country'])
c2 = pd.merge(rice_pd, rye_pd, on=['Year','Country'])
c3 = pd.merge(c1, c2, on=['Year','Country'])
Cereal = pd.merge(c3, wheat_pd, on=['Year','Country'])

In [15]:
Cereal.loc[Cereal['Year'] == 2020]

,Country,Year,BarleyTonnes,Barley_PChange,MaizeTonnes,Maize_PChange,RiceTonnes,Rice_PChange,RyeTonnes,Rye_PChange,WheatTonnes,Wheat_PChange
58,Africa,2020,5534513,-0.192622,90525326,0.078938,37889802,0.023917,96197,-0.003016,25233055,-0.047569
118,Africa (FAO),2020,5534513,-0.192622,90525326,0.078938,37889802,0.023917,96197,-0.003016,25233055,-0.047569
212,Americas (FAO),2020,21145062,-0.009089,582094270,0.033262,38113733,0.099768,1014302,0.442136,117818322,0.002969
272,Argentina,2020,4483062,-0.046577,58395811,0.026998,1222910,0.027771,221201,1.555287,19776942,0.016301
332,Asia,2020,25474893,0.003572,365305747,0.012564,676610485,0.004737,923179,-0.014495,347889079,0.032752
...,...,...,...,...,...,...,...,...,...,...,...,...
3429,Upper-middle-income countries,2020,47500619,0.016522,531313962,0.001697,272575793,0.020435,4590855,0.425416,316252800,0.048165
3458,Uzbekistan,2020,161539,0.210066,475341,0.128344,293451,-0.067400,7105,0.000141,6157844,0.010566
3518,Western Asia (FAO),2020,14049549,0.010092,7980147,0.059765,1453556,-0.083378,296667,-0.045829,32643318,0.098013
3578,Western Europe (FAO),2020,22708334,-0.154366,20658222,0.056065,76320,-0.075693,3888252,0.080396,57242156,-0.168903
3638,World,2020,157030764,-0.009036,1162352997,0.018393,756743722,0.010083,15022273,0.171365,760925831,-0.005301

In [16]:

for countryName in Cereal['Country'].unique():
    print(countryName);

Africa
Africa (FAO)
Albania
Americas (FAO)
Argentina
Asia
Asia (FAO)
Australia
Azerbaijan
Belgium
Bolivia
Brazil
Bulgaria
Central America (FAO)
Central Asia (FAO)
Chile
China
China (FAO)
Croatia
Denmark
Eastern Asia (FAO)
Eastern Europe (FAO)
Ecuador
Egypt
Estonia
Europe
Europe (FAO)
European Union (27)
European Union (27) (FAO)
France
Germany
Greece
High-income countries
Hungary
Iran
Ireland
Italy
Japan
Kazakhstan
Kyrgyzstan
Land Locked Developing Countries (FAO)
Latvia
Lithuania
Low Income Food Deficit Countries (FAO)
Low-income countries
Lower-middle-income countries
Luxembourg
Malta
Mexico
Morocco
Net Food Importing Developing Countries (FAO)
Netherlands
North America
North Korea
North Macedonia
Northern Africa (FAO)
Northern America (FAO)
Northern Europe (FAO)
Oceania
Oceania (FAO)
Peru
Poland
Portugal
Romania
Russia
Slovakia
South Africa
South America
South America (FAO)
South Korea
Southern Africa (FAO)
Southern Asia (FAO)
Southern Europe (FAO)
Spain
Sweden
Tajikistan
Turkey
Turkmenistan
USSR
Ukraine
United States
Upper-middle-income countries
Uzbekistan
Western Asia (FAO)
Western Europe (FAO)
World
Yugoslavia

In [17]:
Cereal['Country'].unique()

array(['Africa', 'Africa (FAO)', 'Albania', 'Americas (FAO)', 'Argentina',
       'Asia', 'Asia (FAO)', 'Australia', 'Azerbaijan', 'Belgium',
       'Bolivia', 'Brazil', 'Bulgaria', 'Central America (FAO)',
       'Central Asia (FAO)', 'Chile', 'China', 'China (FAO)', 'Croatia',
       'Denmark', 'Eastern Asia (FAO)', 'Eastern Europe (FAO)', 'Ecuador',
       'Egypt', 'Estonia', 'Europe', 'Europe (FAO)',
       'European Union (27)', 'European Union (27) (FAO)', 'France',
       'Germany', 'Greece', 'High-income countries', 'Hungary', 'Iran',
       'Ireland', 'Italy', 'Japan', 'Kazakhstan', 'Kyrgyzstan',
       'Land Locked Developing Countries (FAO)', 'Latvia', 'Lithuania',
       'Low Income Food Deficit Countries (FAO)', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Malta', 'Mexico',
       'Morocco', 'Net Food Importing Developing Countries (FAO)',
       'Netherlands', 'North America', 'North Korea', 'North Macedonia',
       'Northern Africa (FAO)', 'Northern America (FAO)',
       'Northern Europe (FAO)', 'Oceania', 'Oceania (FAO)', 'Peru',
       'Poland', 'Portugal', 'Romania', 'Russia', 'Slovakia',
       'South Africa', 'South America', 'South America (FAO)',
       'South Korea', 'Southern Africa (FAO)', 'Southern Asia (FAO)',
       'Southern Europe (FAO)', 'Spain', 'Sweden', 'Tajikistan', 'Turkey',
       'Turkmenistan', 'USSR', 'Ukraine', 'United States',
       'Upper-middle-income countries', 'Uzbekistan',
       'Western Asia (FAO)', 'Western Europe (FAO)', 'World',
       'Yugoslavia'], dtype=object)

In [18]:
Cereal

,Country,Year,BarleyTonnes,Barley_PChange,MaizeTonnes,Maize_PChange,RiceTonnes,Rice_PChange,RyeTonnes,Rye_PChange,WheatTonnes,Wheat_PChange
0,Africa,1962,3438275,0.847205,17556073,0.087734,5580715,0.295458,9100,-0.115646,6852639,0.345841
1,Africa,1963,3854812,0.121147,17625503,0.003955,5813046,0.041631,13800,0.516484,7160090,0.044866
2,Africa,1964,2946788,-0.235556,16145294,-0.083981,5833869,0.003582,16100,0.166667,6812840,-0.048498
3,Africa,1965,3143705,0.066824,16934360,0.048873,5472291,-0.061979,13900,-0.136646,6711683,-0.014848
4,Africa,1966,2021568,-0.356947,17891646,0.056529,5558106,0.015682,8411,-0.394892,5531425,-0.175851
...,...,...,...,...,...,...,...,...,...,...,...,...
3665,Yugoslavia,1987,504000,-0.283636,8863000,-0.292432,49100,0.030949,69000,-0.072643,5345000,0.119087
3666,Yugoslavia,1988,615507,0.221244,7699996,-0.131220,35508,-0.276823,76080,0.102609,6300470,0.178760
3667,Yugoslavia,1989,701601,0.139875,9414034,0.222602,27476,-0.226203,75079,-0.013157,5598583,-0.111402
3668,Yugoslavia,1990,691928,-0.013787,6723975,-0.285750,27586,0.004003,71601,-0.046325,6358604,0.135752
3669,Yugoslavia,1991,734700,0.061816,11557000,0.718775,37501,0.359421,70533,-0.014916,6599700,0.037916

In [19]:
pip install tensorflow == 2.9.1

zsh:1: = not found
Note: you may need to restart the kernel to use updated packages.

In [21]:
import math
import matplotlib.pyplot as plt
import tensorflow as tf
import pandas as pd
import numpy as np
from tf.keras.models import Sequential
from tf.keras.layers import Dense
from tf.keras.layers import LSTM
#from keras.layers import Dropout
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from keras.callbacks import EarlyStopping

ImportError: dlopen(/Users/jaydenlu/opt/anaconda3/envs/tensor-flow/lib/python3.9/site-packages/tensorflow/python/_pywrap_tfe.so, 2): Library not loaded: @rpath/_pywrap_tensorflow_internal.so
  Referenced from: /Users/jaydenlu/opt/anaconda3/envs/tensor-flow/lib/python3.9/site-packages/tensorflow/python/_pywrap_tfe.so
  Reason: image not found