In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats as stat

In [2]:
barley_pd = pd.read_csv('CerealData/barley-production.csv')
maize_pd = pd.read_csv('CerealData/maize-production.csv')
rice_pd = pd.read_csv('CerealData/rice-production.csv')
rye_pd = pd.read_csv('CerealData/rye-production.csv')
wheat_pd = pd.read_csv('CerealData/wheat-production.csv')

In [3]:
barley_pd.head()

        Entity Code  Year  Barley | 00000044 || Production | 005510 || tonnes
0  Afghanistan  AFG  1961                                             378000
1  Afghanistan  AFG  1962                                             378000
2  Afghanistan  AFG  1963                                             378000
3  Afghanistan  AFG  1964                                             380000
4  Afghanistan  AFG  1965                                             380000

In [4]:
maize_pd.head()

        Entity Code  Year  Maize | 00000056 || Production | 005510 || tonnes
0  Afghanistan  AFG  1961                                             700000
1  Afghanistan  AFG  1962                                             700000
2  Afghanistan  AFG  1963                                             713000
3  Afghanistan  AFG  1964                                             720000
4  Afghanistan  AFG  1965                                             720000

In [5]:
barley_pd = barley_pd.drop('Entity', axis=1)
maize_pd = maize_pd.drop('Entity', axis=1)
rice_pd = rice_pd.drop('Entity', axis=1)
rye_pd = rye_pd.drop('Entity', axis=1)
wheat_pd = wheat_pd.drop('Entity', axis=1)

In [6]:
barley_pd.head()

  Code  Year  Barley | 00000044 || Production | 005510 || tonnes
0  AFG  1961                                             378000
1  AFG  1962                                             378000
2  AFG  1963                                             378000
3  AFG  1964                                             380000
4  AFG  1965                                             380000

In [7]:
barley_pd.columns = ['Country', 'Year', 'Tonnes']
maize_pd.columns = ['Country', 'Year', 'Tonnes']
rice_pd.columns = ['Country', 'Year', 'Tonnes']
rye_pd.columns = ['Country', 'Year', 'Tonnes']
wheat_pd.columns = ['Country', 'Year', 'Tonnes']

In [ ]:
#test comment